/* CONFIURACIÓN GENERAL */
 
body {
   margin: 0;
   font-family: Arial, sans-serif;
   background-color: black;
   color: white;
}
 
 
 /* ENCABEZADO */
 
header{
   background-color:black;
   color: white;
   text-align: left;
   padding: 99px;
}
 
header h4 {
   color: rgb(255, 106, 0);
   margin: 0;
   font-size: 25px;
   padding: 20px;
}
 
header h1 {
   margin: 0;
   font-size: 90px;
   padding: 20px;
}
.color-especial {
  color: rgb(255, 106, 0);
}
 
header h4 {
   font-size: 20px;
   padding: 20px;
}
 
 
 /* MENÚ */
 
nav{
   background-color: white;
   text-align: center;
   padding: 15px;
}
 
nav a {
   color: black;
   text-decoration: none;
   margin: 0 15px;
}
 
 
 /* CONTENIDO PRINCIPAL */
 
main{
   padding: 30px;
 }
 
 
 /* SECCIÓN PRINCIPAL */
 
.principal {
   background-color: blue;
   text-align: center;
   padding: 40px;
   border-radius: 10px;
   margin-bottom: 30px;
}
 
.principal h2 {
   font-size: 30px;
}
 
 
 /* BOTÓN */
 
button {
   background-color: rgb(255, 106, 0);
   color: white;
   border: none;
   padding: 12px 25px;
   border-radius: 6px;
   cursor: pointer;
}
 
 
 /* SECCIÓN DE TARJETAS */
 
.tarjetas {
   text-align: center;
}
 
.tarjeta {
   display: inline-block;
   width: 25%;
   margin: 10px;
   padding: 20px;
   background-color: blue;
   border-radius: 10px;
}
 
 
/* PIE DE PÁGINA */
 
footer {
   background-color: blue;
   color: White;
   text-align: center;
   padding: 20px;
}
